* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: #ffffff;
}

#header {
  padding: 1.3rem;
  background-color: #000000;
}

#primary-navigaiton {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-size: 2rem;
  color: #ffffff;
}

.primary-nav-section {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.primary-nav-list {
  list-style: none;
}

.primary-nav-link {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
}

.primary-nav-link:hover {
  text-decoration: underline;
}

#toggle-menu {
  display: none;
}

.toggle-nav-section {
 visibility: hidden;
 height: 1px;
 transition: height 1s;
}

.toggle-nav-section ul > * + * {
  margin-top: 1rem;
}

.toggle-nav-list {
  text-align: center;
}

.toggle-nav-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
}

.toggle-nav-list a:hover {
  text-decoration: underline;
}

#main-jumbotron {
  position: relative;
}

#main-image {
  width: 100vw;
  filter: brightness(60%);
}

#main-image > img {
  width: 100%;
}

#main-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}

#main-text h1 {
  font-size: 5vw;
  text-align: center;
  color: #fa823f;
  font-family: "Permanent Marker", cursive;
}

#main-content {
  max-width: 67rem;
  margin: 0 auto;
}

#about-us {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

#about-us-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 50%;
}

#about-us-text > * + * {
  margin-top: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

#about-us-text h1 {
  color: #ffffff;
  font-size: 3rem;
}

#about-us-text p {
  color: #ffffff;
  font-size: 1.5rem;
}

#booking-btn {
  text-align: center;
  width: 70%;
  background-color: #fa823f;
  padding: 1rem;
  border: none;
}

#booking-btn a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #ffffff;
}

#about-us-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#about-us-image img {
  width: 100%;
}

/* CSS Primitives */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.center {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.width-lg {
  max-width: 80rem;
}

.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

.row {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.column {
  display: flex;
  /* gap: 1.5rem; */
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}


.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

button {
  cursor: pointer;
}

.team-member {
    border: #fa823f;
    border-style: solid;
    border-width: 0.2rem;
}

.team-member ul {
  padding-left: 1rem;
}

.info {
  max-width: 15rem;
  max-height: 15rem;
  overflow-y: scroll;
}

#team-members .team-member img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}
/* End of CSS Primitives */

#team-members {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }


#contact-us {
  margin-top: 5rem;
}

label,
input,
button,
textarea {
  display: block;
  font: inherit;
  color: inherit;
}

form input,
fieldset,
textarea {
  margin: 0 0 1rem 0;
  color: #000000;
}

/* Fieldset CSS */
fieldset {
  color: #ffffff;
  padding: 0.5rem;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
}

[type="checkbox"] + label,
[type="radio"] + label {
  display: flex;
  align-items: center;
}

[type="checkbox"] + label::before,
[type="radio"] + label::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid hsl(220, 10%, 75%);
  background-color: #fff;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

[type="radio"] + label::before {
  border-radius: 50%;
}

[type="radio"]:checked + label::before {
  /* background-color: hsl(220, 30%, 40%); */
  background-image: radial-gradient(
    hsl(220, 30%, 40%),
    hsl(220, 30%, 40%) 40%,
    transparent 40%,
    transparent
  );
  /* box-shadow: inset 0 0 0 0.25em var(--bg); */
}

[type="checkbox"]:checked + label::before {
  color: hsl(220, 30%, 40%);
  content: "✔︎";
}

fieldset > * + * {
  margin-top: 0.5rem;
}
/* End of Fieldset CSS */

textarea {
  resize: vertical;
  width: 100%;
}

form button {
  margin: 0.5rem 0;
  width: 100%;
  color: black;
  background-color: #fa823f;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
  border: none;
}

form button:hover {
  fill-opacity: 50%;
}

footer {
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  margin: 2rem 0 1rem 0;
}

@media (max-width: 768px) {

  #main-text h1 {
    font-size: 8vw;
  }

  #team-members {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  #toggle-menu {
    border: none;
    background-color: #000000;
    color: #ffffff;
    display: block;
    cursor: pointer;
  }

  .primary-nav-section {
    display: none;
  }

  #about-us {
    height: auto;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  #about-us-image {
    width: 100%;
  }

  #about-us-image > img {
    width: 40%;
  }

  #about-us-text {
    align-items: center;
    width: 100%;
  }

  #about-us-text p {
    text-align: center;
  }

  #booking-btn {
    width: 100%;
    text-align: center;
  }


}
